    <ion-header-bar class="bar bar-header bar-balanced"> 
        <h1 class="title">MOTO PARTS</h1>
    </ion-header-bar>
    
    <ion-content>
        <div class="card">
            <div class="item item-divider">
            <h2 class="title center">Con los mejores repuestos</h2> </div>
            <div class="item item-divider">
            <img src="img/portada.jpg" class="full-image">
            </div>
            <div class="item item-text-wrap">
            <p>Caliche ipsum Jesusiar dolor Chololas sit Quiacercito amet,
            Coquiar consectetur Julón adipiscing Juelgo elit. Bolado Quare Uñudo attende, Jarana quaeso. Cuña At Lombriciento coluit Jumba ipse Cojonudo amicitias. Mono Sed Bichada quot Chindondo homines, Empacho tot Cuica sententiae; Agilamiento Duo Cabieron Reges: Aguambado constructio Engatusar interrete. </p>
          </div>
        </div>
    </ion-content>