<ion-view>
   <div class="bar bar-header bar-positive">
      <h1 class="title">Repuestos</h1>
    </div
    <ion-content class="padding">
       <h2>.</h2>
        <div class="list">
            <a class="item item-icon-left item-thumbnail-left item-text-wrap"
            ng-repeat="item in detalles">
                <img src="img/detalles/{{item.foto}}"> 
                <h3>{{item.titulo}}</h3>
                <p>{{item.descripcion}}</p>
                <button>$ {{item.precio}}</button>
            </a>
        </div>
    </ion-content>
</ion-view>