<ion-tabs class="tabs-icon-top tabs-striped tabs-background-positive tabs-color-stable">
    
    <ion-tab hidden="true">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    
    <ion-tab icon="ion-speedometer" title="Repuestos" href="#tab/repuestos">
        <ion-nav-view name="tab-repuestos"></ion-nav-view>
    </ion-tab>
    
    <ion-tab icon="ion-person-stalker" title="Vendedores" href="#tab/vendedores">
        <ion-nav-view name="tab-vendedores"></ion-nav-view>
    </ion-tab>
    
    <ion-tab icon="ion-paper-airplane" title="Ubicación"></ion-tab>
</ion-tabs>