<ion-view>
   <div class="bar bar-header bar-positive">
      <h1 class="title">Vendedores</h1>
    </div>
    <ion-content class="padding">
       <h2>.</h2>
        <div class="list">
            <a class="item item-icon-left item-thumbnail-left item-text-wrap"
            ng-repeat="vendedor in vendedores">
                <img src="img/detalles/{{vendedor.foto}}"> 
               
                <h3>
                   <i class="ion-person"></i>
                    {{vendedor.nombre}}
                </h3>
                
                <p ng-if="vendedor.en_activo === true">
                   <i class="ion-android-notifications"></i>                    
                </p>
                <p ng-if="vendedor.en_activo === false">
                    <i class="ion-android-notifications-off"></i>
                </p>
                <span>
                   <i class="ion-social-whatsapp-outline"></i> {{vendedor.telefono}}
                </span>
                
            </a>
        </div>
    </ion-content>
</ion-view>